.header {
  text-align: center;
  margin: 5%;
}

.text {
  display: flex;
  margin: 10%;
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  text-align: center;
}
  @media (min-width: 800px) {
    .text {
      font-size: 4em;
    }
  }

.generate {
  display: block;
  margin: auto;
}

.details {
  margin: 5%;
  text-align: center;
}